$font-stack: Montserrat-bold;
$font-stack-regular: Montserrat-regular;
$font-title: KaushanScript-Regular;
$font-services-text: Roboto-Regular;
$font-taem-card: Roboto-Italic;

$primery-banner-color: #ffffff;
$primery-hover-color: #fce38a;
$button-color: #00000000;
$primery-services-color: #333333;
$for-after-color: #f38181;
$secondary-services-color: #999999;
$footer-border-color:#E5E5E5;
$input-border-color:#e7e7e7;
$input-bg-color: #95e1d3;
$inptu-placeholder-color:#cccccc;

$primery-transition: 200ms linear; 

